<div style="text-align: center">
  <h1>Team</h1>
  <p>We are willing to UNBYAS the working environment</p>
</div>

<div class="photo-container">
  <div class="row" style="margin: auto 20px; ">
    <div class="photo-div">
      <%= image_tag("samira.jpg", class: "photo") %>
      <h2>Samira Eilinger</h2>
      <h4>Co-Founder</h4>
      <p>I'm passionate to resolve unconsious biases because I believe it creates a fair working culture</p>
    </div>

    <div class="photo-div">
      <%= image_tag("celine.png", class: "photo") %>
      <h2>Céline Stalder</h2>
      <h4>Co-Founder</h4>
      <p>I'm passionate to resolve unconsious biases because I believe it creates a fair working culture</p>
    </div>

    <div class="photo-div">
      <%= image_tag("maria.jpg", class: "photo") %>
      <h2>Maria Nery</h2>
      <h4>Design</h4>
      <p>I'm passionate to resolve unconsious biases because I believe it creates a fair working culture</p>
    </div>

    <div class="photo-div">
      <%= image_tag("cto.png", class: "photo") %>
      <h2>Vacant</h2>
      <h4>CTO & Co-Founder </h4>
      <p>Why do you feel passionate about UNBYAS?</p>
    </div>

  </div>
</div>
