<div class="container">
  <h1>UNBYAS your documents!</h1>
  <form>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Insert your text here</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>

  <div class="signup-button mt-4 mb-4">Analyze</div>
</div>
