<div class="container">
  <h1>UNBYAS your documents!</h1>

  <%= simple_form_for @input do |f| %>
    <div class="form-group">
      <%= f.input :text %>
      <%= f.button :submit, class: "signup-button mt-4 mb-4" %>
    </div>
  <% end %>
</div>


