.navbar-lewagon {
  justify-content: space-between;
  background: rgba(248 , 250, 253, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  display: flex;
}

.nav-link {
  margin-left: 50px;
}
